* {
  box-sizing: border-box;
}

html {
    background-image:  
    radial-gradient(at 0% 0%, hsla(170,59%,95%,1) 0, transparent 44%),  
    radial-gradient(at 51% 100%, hsla(227,97%,88%,1) 0, transparent 50%),  
    radial-gradient(at 100% 100%, hsla(222,100%,95%,1) 0, transparent 31%),  
    radial-gradient(at 1% 99%, hsla(230,75%,87%,1) 0, transparent 53%),  
    radial-gradient(at 100% 0%, hsla(224,100%,95%,1) 0, transparent 23%),  
    radial-gradient(at 34% 0%, hsla(199,67%,80%,1) 0, transparent 43%),  
    radial-gradient(at 100% 48%, hsla(219,96%,92%,1) 0, transparent 100%);
    background-size: cover;
    background-repeat: no-repeat;
}

.grid-container {
  padding: 50px 50px 50px 50px;   // top, right, bottom, left
  display: grid;
  grid-template-columns: 0.9fr 1.18fr;
  grid-template-rows: 65px 65px 1.8fr;
  gap: 0px 65px;
  grid-template-areas:
    "header ." ". task" "features task";
  width: 100vw;
  height: 100vh;
  justify-content: center; 
}

.features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 0.9fr;
  gap: 35px 35px;
  grid-template-areas:
    "timer timer" "music dictionary";
  grid-area: features;
}
.timer { 
  grid-area: timer;
  background-color: #ffff;
  border-radius: 30px; 
  padding: 40px 40px 40px 40px;
}

.music, .dictionary { 
  background-color: #ffff;
  border-radius: 30px;  
  padding: 40px;
}

button {
  border-radius: 40px;
  text-align: center;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  letter-spacing: 2px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  background: #142348;
}

.light-blue-btn {
  background-color: #65adfc;
  border: 2px solid #65adfc;
  background: #65adfc;
  padding: 11px 25px;
}

.light-blue-btn:hover {
  background: transparent;
  color: #65adfc;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.mainBtns {
  height: 50px;
  width: 130px;
  outline:none;
  font-size: 25px;
  background-color: #142348;
  color: white;
  border-radius: 30px;
}
.mainBtns:hover, .pomo-setting-btn:hover {
  opacity: 0.7;
}
#stopwatch-reset-button, #pomo-reset-button{
  background: rgb(186, 186, 186);
  border: none;
}


// Add Task button Modal
.task-modal {
  display: none; // Hidden by default 
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  border: 1px solid #65adfc;
  background-color: #fff;
  border-radius: 30px; 
  overflow: auto; // Enable scroll if needed 
}


// Intro button Modal
.intro-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.intro-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  border-radius: 30px;  
  padding: 40px;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  
  .intro-text {
    padding: 2px 16px;
    .closeBtn {
      font-size: 50px;
    }
    ul {
      list-style-position: inside;
      font-size: 22px;
      font-weight: normal;
      margin: 0 20px;
      padding: 0;
    }
  }
  .intro-detail {
    h2 {
      padding: 10px 0;
      font-size: 30px;
    }

  }
}

// Modal close button 
.closeBtn {
  color: #142348;
  position: absolute;
  right: 30px;
  top: 30px;
}
.closeBtn:hover, .closeBtn:focus {
  color: #65adfc;
  text-decoration: none;
  cursor: pointer;
}
/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}


// Responsive
@media only screen and (max-width: 1512px) {
  html {
    height: max-content;
  }
  .grid-container {
    height: max-content;
    display: block;
  }
  .header {
    padding-bottom: 50px;
  }
  .features {
    display: block;
  }
  .timer, .music, .dictionary {
    margin: 0 0 30px 0;
  }
 
}

@media only screen and (max-width: 800px) {
  .header {
    padding-bottom: 50px;
  }
  .intro-content {
    padding: 25px;
    .intro-text {
      padding: 0px;
      h2 {
        font-size: 25px;
      }
      .closeBtn {
        font-size: xx-large;
      }
      ul {
        font-size: 12px;
      }
    }
    .intro-detail {
      h2 {
        font-size: 20px;
      }
    }
    .closeBtn {
      right: 30px;
      top: 5px;
    }
  }
}

@media only screen and (max-width: 570px) {
  .grid-container {
    padding: 30px;
  }
  .mainBtns {
    font-size: 10px;
    font-weight: 500;
    padding: 11px 20px;
  }
}