* {
  box-sizing: border-box;
}

html {
    background-image:  
    radial-gradient(at 0% 0%, hsla(170,59%,95%,1) 0, transparent 44%),  
    radial-gradient(at 51% 100%, hsla(227,97%,88%,1) 0, transparent 50%),  
    radial-gradient(at 100% 100%, hsla(222,100%,95%,1) 0, transparent 31%),  
    radial-gradient(at 1% 99%, hsla(230,75%,87%,1) 0, transparent 53%),  
    radial-gradient(at 100% 0%, hsla(224,100%,95%,1) 0, transparent 23%),  
    radial-gradient(at 34% 0%, hsla(199,67%,80%,1) 0, transparent 43%),  
    radial-gradient(at 100% 48%, hsla(219,96%,92%,1) 0, transparent 100%);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.grid-container {
  padding: 50px 50px 50px 50px;   // top, right, bottom, left
  display: grid;
  grid-template-columns: 0.9fr 1.18fr;
  grid-template-rows: 65px 65px 1.8fr;
  gap: 0px 65px;
  grid-template-areas:
    "header ." ". task" "features task";
  width: 100vw;
  height: 100vh;
  justify-content: center; 
}

.features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 0.9fr;
  gap: 35px 35px;
  grid-template-areas:
    "timer timer" "music dictionary";
  grid-area: features;
}
.timer { 
  grid-area: timer;
  background-color: #ffff;
  border-radius: 30px; 
  padding: 15px 40px 40px 40px;
}

.music, .dictionary { 
  background-color: #ffff;
  border-radius: 30px;  
  padding: 40px;
}

button {
  border-radius: 40px;
  text-align: center;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  letter-spacing: 2px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  background: #142348;
}

.light-blue-btn {
  background-color: #65adfc;
  border: 2px solid #65adfc;
  background: #65adfc;
  padding: 11px 25px;
}

.light-blue-btn:hover {
  background: transparent;
  color: #65adfc;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
