// Reference - https://codepen.io/huange/pen/rbqsD
// Resize the dictionary-form-wrap to see the search bar change
.dictionary-form-wrap {
    width: 100%;
    margin-top: 15px;
}
.search-container {
    position: relative;
    display: flex;    
    border: 2px solid lightgray;
    border-radius: 30px;
}

#input{
    width: 100%;
    background: transparent;
    border: none;
    padding: 5px;
    outline: none;
    color: grey;
    font-size: 20px;
}

.search-btn{
    height: 45px;
    border: none;
    background: transparent;
    text-align: center;
    color: lightgray;
    cursor: pointer;
    font-size: 20px;
}

.dictionary-form-wrap input::placeholder {
    color: lightgray;
}

section.data {
    max-height: 220px;
    margin: 0 auto;
    margin-top: 15px;
    overflow-x: hidden;
    overflow-y: auto;
    color: #142348;
}

.loading {
    display: none;
}

.suggested {
    background: #142348;
    color: white;
    padding: 2px 5px;
    border-radius: 4px;
    margin-right: 10px;
    margin-top: 5px;
    display: inline-block;
}

.bold {
    margin-top: 0px;
    margin-bottom: 5px;
    font-weight: 500;
}
.def, .syns {
    font-size: 0.8rem;
    margin-top: 5px;
}


// Responsive
@media only screen and (max-width: 490px) {
    .dictionary {
        padding: 35px;
        h2 {
            font-size: 1.2rem;
        }
        .bold {
            font-size: 1rem;
            margin-bottom: 5px;
        }
        .def, .syns {
            font-size: 0.8rem;
            margin-top: 5px;
        }
    }
}