.timer-nav {
    width: 100%;
    background-color: #123;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .timer-links {
        list-style: none;
        display: flex;
        .timer-nav-item a {
            display: inline-block;
            text-decoration: none;
            color: white;
            padding: 1em 2em;
            &:hover {
                color: #abc;
            }
            &:active {
                font-weight: bolder;
            }
        }
    }
}

.timer-page-container {
    margin: 4em;
    &#pomodoro {
      text-align: center;
    }
    &:not(#pomodoro) {
      display: none;
    }
  }