.task-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "taskform tasklist";
    overflow: auto;
}

.modal {
    display: none; // Hidden by default 
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    border: 1px solid #65adfc;
    background-color: #fff;
    border-radius: 30px; 
    overflow: auto; // Enable scroll if needed 
}

#taskform {
    grid-area: taskform;
    margin: 50px;
    label {
        display: block;
        width: 100%;
    }
    select, input {
        height: 35px;
        width: 100%;
        margin-bottom: 30px;
    }
}

.close-btn {
    color: #142348;
    position: absolute;
    right: 30px;
    top: 30px;
}
.close-btn:hover, .close-btn:focus {
    color: #65adfc;
    text-decoration: none;
    cursor: pointer;
}

#tasklist {
    grid-area: tasklist;
    list-style: none;
}
.tasksDiv {
    margin: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none; /* Remove bullets */
}

.tasksDiv li {
    flex: 1;
}

.delete-btn, .complete-btn {
    background: coral;
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
}

.complete-btn {
    background: green;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.fa-trash, .fa-check {
    pointer-events: none;
}