.task-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "taskform tasklist";
    overflow: auto;
}

#taskform {
    grid-area: taskform;
    margin: 50px;
    label {
        display: block;
        width: 100%;
    }
    select, input {
        height: 35px;
        width: 100%;
        margin-bottom: 30px;
    }
}

#tasklist {
    grid-area: tasklist;
    list-style: none;
}

.header-item {
    color: #142348;
    font-weight: 700;
}
  
.header { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    .header-item {
        font-size: 30px;
    }
    .dark-blue-btn { 
        background: #142348;
        padding: 11px 40px;
        border: 2px solid #142348;
    }
    .dark-blue-btn:hover {
        background: transparent;
        color: #142348;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
    }
}
  
.task {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 65px 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "task-header" "quadrants";
    grid-area: task;
}
  
.fa-plus, .fa-check-circle, .fa-clock, .fa-user-plus, .fa-trash-alt{
    margin-right: 20px;
}
  
.task-header { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    margin-bottom: 25px;
}
  
.quadrants {
    display: grid;
    grid-template-columns: max-content;
    grid-template-rows: 100px minmax(30px, 100%) minmax(30px, 100%);
    gap: 0px 0px;
    grid-template-areas:
        "space urgent not-urgent" "important cards cards" "not-important cards cards";
    grid-area: quadrants;
    background-color: #ffff;
    border-radius: 30px; 
    padding-bottom: 50px;
}

.space { 
    grid-area: space; 
}
.urgent, .not-urgent, .important, .not-important {
    text-align: center;
}
.urgent { 
    grid-area: urgent; 
}
.not-urgent { 
    grid-area: not-urgent; 
}
.important { 
    grid-area: important;
}
.not-important { 
    grid-area: not-important;
}
.urgent, .not-urgent{
    padding: 30px 0px 15px;  // top, right/left, bottom
}
.important, .not-important {
    // Chrome doesnt support CSS writing-mode: sideways-lr but accepts vertical 
    // So I used to transform rotate to create what I wanted
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    padding: 15px;
    margin-top: 50px;
}


// quadrants cards layout
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 35px 35px;
    grid-template-areas:
        "do-it-card schedule-card" "relegate-card dont-do-card";
    grid-area: cards;
    padding-right: 50px; 

    .task-cards {
        border-radius: 30px;  
        padding: 40px;
        overflow-y: auto;
    }

    .do-it-card { 
        grid-area: do-it-card;
        background-color: #edf7ff;
    }

    .schedule-card { 
        grid-area: schedule-card;
        background-color: #f1e9f8;
    }

    .relegate-card { 
        grid-area: relegate-card; 
        background-color: #fdedf0;
    }

    .dont-do-card { 
        grid-area: dont-do-card;
        background-color: #fff5f1;
    }
}
.responsive-card-text {
    display: none;
}

// quadrants ul li section
.box {
    display: flex;
    flex-direction: column;
    margin:0;
    padding:0;   
    li {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        p {
            padding: 0;
            margin-right: 20px;
        }
    }
    button {
        padding: 0;
        height: 45px;
        width: 45px;
        margin: 20px 5px;
        
    }
}
    .emptyList {
        font-size: 20px;
    }

// li buttons
.delete-btn, .complete-btn {
    background: coral;
    color: white;
    border: none;
    padding: 10px 13px;
    cursor: pointer;
    border-radius: 50px;
}
.complete-btn {
    background: green;
}
.completed {
    text-decoration: line-through;
    opacity: 0.5;
}
.fa-trash, .fa-check {
    pointer-events: none;
}

// Responsive
@media only screen and (max-width: 921px) {
    .task-header {
        margin: 25px 0;
    }
    .cards {
        display: block;
        padding: 0 30px;
        .task-cards {
            margin: 0 0 30px 0;
            padding: 15px 25px 15px 25px;
        }
    }
    .quadrants {
        display: block;
        padding: 0;
        margin-top: 20px;
    }
    .urgent, .not-urgent{
        padding: 0;  // top, right/left, bottom
        display: none;
    }
    .important, .not-important {
        writing-mode: horizontal-tb;
        transform: rotate(0deg);
        display: none;
        padding: 0;
        margin: 0%;
    }
    .cards .responsive-card-text {
        display: block;
        font-size: 35px;
        text-align: center;
        margin: 30px 0 0 0;
        font-weight: 500;
        color: #142348;
    }
    .task-cards {
        padding: 20px;
        margin: 0 0 30px 0;
    }
}

@media only screen and (max-width: 651px) {
    .header {
        padding-bottom: 30px;
        h1 {
          font-size: 35px;
        }
        .dark-blue-btn {
          font-size: 15px;
          font-weight: 500;
        }
      }
    .cards .responsive-card-text {
        display: block;
        font-size: 30px;
        text-align: center;
        margin: 30px 0 0 0;
        font-weight: 500;
        color: #142348;
    }
    .task-cards .cards-header-text {
        font-size: 30px;
    }
}

@media only screen and (max-width: 475px) {
    .header-item  h2 {
        font-size: 1.15rem;
    }
    .header-item .light-blue-btn {
        background-color: #65adfc;
        border: 2px solid #65adfc;
        background: #65adfc;
        padding: 11px 11px;
        .fa-plus {
            margin-right: 0px;
        }
        .taskBtnText {
            display: none;
        }
    }    
    .cards .responsive-card-text {
        font-size: 20px;
    }
    .task-cards .cards-header-text {
        font-size: 25px;
    }
    .fa-plus, .fa-check-circle, .fa-clock, .fa-user-plus, .fa-trash-alt{
        height: 10px;
    }
}
