.pomodoro-container {
    display: flex;
    width: 100%;
    height: 100%;

    /* pomodoro timer digits */
    .time-container {
        justify-content: space-around; 
        height: 100%;
        width: 100%;
    }
        .time {
            margin: 0 20px 20px 20px;
            .line {
                height: 7px;
                background: red;
                margin: 0 100px 20px 100px ;
              }
        }
        .time p {
            font-size: 85px;
            font-weight: bold;
            color: #142348;
            margin: 0;
        }
        .time  h3{
            margin: 0;
            margin-top: 5px;
            margin-bottom: 25px;
            font-size: 35px;
        }
     
    /* pomodoro start pause reset buttons */
    .pomo-controller {
        display: flex;
        justify-content: space-evenly; 
        bottom: 0px;
        .sBtn, .rBtn {
            padding: 0 20px;
            font-size: 40px;
            font-weight: bold;
            text-align: center;
        }
    }
    /* pomodoro edit sessions and breaks */
    .pomo-setting-container {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        padding: 0 20px;
        .pomo-setting-flex {
            width: max-content;
            justify-content: center;
            p {
                margin: 0%;
            }
        }
        .session, .break {
            display: flex;
            font-size: 20px;
            font-weight: bold;
            color: #142348;
            justify-items: center;
            text-align: center;
            width: 100%;
        }
        .session p, .break p {
            margin: 0 20px;
            font-size: 25px;
        }
        .pomo-setting-btn {
            height: 40px;
            width: 40px;
            outline: none;
            font-size: 30px;
            background-color: #142348;
            font-weight: bold;
            color: white;
            border-radius: 100%;
        }
    }
    .mainBtns {
        height: 50px;
        width: 120px;
        outline:none;
        font-size: 18px;
        background-color: #142348;
        color: white;
        border-radius: 30px;
    }
    .mainBtns:hover, .pomo-setting-btn:hover {
        opacity: 0.7;
    }
  }
  

  @media only screen and (max-width: 600px) {
    .pomodoro-container {
      flex-direction: column;    
    } 
    .time p {
        font-size:50px;
        font-weight: bold;
    }
    .sBtn, .rBtn ,.pBtn {
        height: 30px;
        width: 120px;
    }
   
    .pomo-setting-container {
        flex-direction: row;
        .pomo-setting-flex {
            margin: 0 15px;
        }
        .session, .break {
            margin: 0;
            width: 200px;
        }
        .pomo-setting-btn {
            height:25px;
            width:25px;
            font-size:20px;
        }
    }
    
    .mainBtns {
      height:50px;
      width:100px;
      outline:none;
      font-size: 20px;
      border-radius:5px;
    }
}
  
  